/* input表格 錯誤樣式 start */
.form-control{
    border:1px solid #f00;
}
.form-control:hover{
    border:1px solid #f00;
}
input{
    background-image: url(/icon/warning.svg); 
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    background-size: 20px;
}
/* input表格 錯誤樣式 end */