/* -- 登入註冊  start -- */
.wrap{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.tab-all{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.loginform{
    padding: 40px;
}
.fb-btn{
    background-color: #3a5ba0; 
    border-color: #3a5ba0;
    font-size: small;
}
.go-btn{
    font-size: small;
}
.lo-btn{
    background-color:#747474; 
    border-color: #747474;
}
.go-btn img{
    margin-right: 10px;
}
.fb-btn img{
    margin-right: 10px;
}
.email-form{
    margin-top: 20px;
}
.text-muted{
    font-size:10px;
    color:#dc3545 !important;
    font-family: "微軟正黑體","黑體","宋體",sans-serif;
    text-align: left;
}
.links-container{   
    font-size: 10px; 
    margin-top: 10px;
}
.links-container a{
    color:#707881;
    font-family: "微軟正黑體","黑體","宋體",sans-serif;
    text-decoration: none;
}
.links-container a:hover{
    color:#212529;
}
.nav-item a{
    color:#495057;
}



@media screen and (max-width: 767px){
    .wrap{
        width: 100%;
    }
}
/* -- 登入註冊  end -- */

/* 表格錯誤訊息start */
.inputerror{
    position: relative;
}
.error{
    position:absolute; 
    top:4px;
    right: 5px;
    /* visibility: hidden; */
}
.text-muted{
    /* 提醒文字隱藏 */
    /* visibility: hidden; */
}
/* 表格錯誤訊息end */
/*錯誤紅框出現 is-invalid */